Title: COVIDSafe.watch
NoContainer: true
---
@section Splash {
    <div id="hero" class="jumbotron jumbotron-fluid mb-0">
        <div class="container-xl">
            <div class="row">
                <div class=" offset-lg-2 col-12 col-lg-8">
                    <div class="display-4 text-white">COVIDSafe is in breach</div> 
                    <p class="lead text-white">of the privacy policy and has been for seventeen days. The application allows <a href="https://twitter.com/GeoffreyHuntley/status/1260213934159618048">anyone to trivally track and trace you</a>. The Australian Government <a href="https://twitter.com/GeoffreyHuntley/status/1257506430476640256">ignored researchers</a> and was notified on <a href="https://twitter.com/GeoffreyHuntley/status/1257600104183164929">the 28th of April</a>. Between now and then there has only been one software update released - <a href="https://twitter.com/GeoffreyHuntley/status/1258174433979625474">a new coat of paint</a>. In comparsion, the engineers from the Singapore goverment <a href="https://github.com/opentrace-community/opentrace-android/commit/0c7f7f6c4b265140f86b91f8e9e1ec70f5cd67ba">resolved defects</a> same day.</p>
                </div>
            </div>
        </div>
    </div>
}

<div>
    👋
</div>