Title: Your Imagination, Your Generator
NoContainer: true
---
@section Splash {
    <div id="hero" class="jumbotron jumbotron-fluid mb-0">
        <div class="container-xl">
            <div class="row">
                <div class=" offset-lg-2 col-12 col-lg-8">
                    <div class="display-4 text-white">Your imagination, your generator.</div> 
                    <p class="lead text-white">Statiq is the world's most powerful static generation platform, allowing you to use or create a static generator that's exactly what <em>you</em> need.</p>
                </div>
            </div>
        </div>
    </div>
}

<div>
    👋
</div>