Title: COVIDSafe.watch
NoContainer: true
---
@section Splash {
    <div id="hero" class="jumbotron jumbotron-fluid mb-0">
        <div class="container-xl">
            <div class="row">
                <div class=" offset-lg-2 col-12 col-lg-8">
                    <div class="display-4 text-white">We are a team of security researchers, open-source advocates, community managers and privacy specialists that support the concept of technology based contact tracing.</div> 

<p class="lead text-white">We want to see lives saved through the use of this unprecedented technology.</p>

<p class="lead text-white">It is crucial to us that privacy and security issues are addressed promptly and communicated in an inclusive and open manner.</p>

<p class="lead text-white">We believe transparency is essential to achieve both of these goals without compromising either.
Compromising privacy risks people’s lives by undermining public trust in the systems built to protect them.</p>

<p class="lead text-white">This can only be achieved by direct collaboration with engineers using transparent open source platforms as the UK National Health Service and German Ministry of Health. </p>

<p class="lead text-white">We advocate for direct collaboration with engineers using open source platforms just as the UK National Health Service <LINK>, and the German Ministry of Health.</p>
                </div>
            </div>
        </div>
    </div>
}

<div>
    👋
</div>