<table>
	<thead>
		<tr>
			<th>Version</th>
			<th>Date</th>
			<th>Comments</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>v1.0.11</td>
			<td>2020-04-26</td>
			<td>Initial Release. Implementation in serious breach of privacy policy. Contained text that caused public panic - "You have COVID19"</td>
		</tr>
		<tr>
			<td>v1.0.15</td>
			<td>2020-05-04</td>
			<td>Brand new coat of paint and did not resolve privacy breach. Accidentally added 20 second pause to the launch screen.</td>
		</tr>
		<tr>
			<td>v1.0.16</td>
			<td>2020-05-04</td>
			<td>Removed 20 second pause to the launch screen.</td>
		</tr>
		<tr>
			<td>v1.0.17</td>
			<td>2020-05-14</td>
			<td>Partially resolves privacy breaches.</td>
		</tr>
	</tbody>
</table>