<table>
	<thead>
		<tr>
			<th>Version</th>
			<th>Date</th>
			<th>Comments</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>v1.0</td>
			<td>2020-04-26</td>
			<td>Initial Release.</td>
		</tr>
		<tr>
			<td>v1.1</td>
			<td>2020-05-05</td>
			<td>
				<ul>
				<li>Debug view removed</li>
				<li>Updated design</li>
				<li>Removed com.googleusercontent URLScheme</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td>v1.2</td>
			<td>2020-05-14</td>
			<td>
				<ul>
				<li>Largely fixed background behaviour</li>
				<li>Fix for CVE-2020-12717
				</ul>
			</td>
		</tr>		
		<tr>
			<td>v1.3</td>
			<td>2020-05-14</td>
			<td>
				Removed daily notifications to remind users to keep app in foreground
			</td>
		</tr>	
	</tbody>
</table>
