ArchiveSources: senate-submissions/*.md
---
@{
    Layout = @"/_layout.cshtml";
}

Here are a collection of findings by Geoffrey Huntley, Jim Mussared, Richard Nelson and the COVIDSafe.watch community in relation to the COVIDSafe app. We have compiled this document with the aim of presenting our findings in a readable format for presentation to journalists and the Senate, in order to show the app’s significant privacy and security concerns that the community has uncovered.

<div>
    @foreach (IDocument child in Document.GetChildren())
    {
        <div class="py-3 my-3 border-bottom">
            @Html.DocumentLink(child)
        </div>
    }
</div>
